.color-first {
  display: flex;
  align-items: center;
}

.color-first .value-field {
  padding: 0 1em 1em 0;
}

.color-slider {
  display: flex;
}

.color-slider .color-slider-label {
  width: 128px;
}
