nav {
  background-color: #1B1B1B;
  color: #CFD0D1;
  font-size: 1.5em;
  text-align: center;
}

#nav-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  padding: .5em;
}

.icon:hover {
  background-color: #404040;
  color: #E9ECEF;
  cursor: pointer;
}
