#nav-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  padding: .5em;
}

.icon:hover {
  background-color: #404040;
  color: #E9ECEF;
  cursor: pointer;
}
