nav {
  background-color: #1B1B1B;
  color: #CFD0D1;
  font-size: 1.5em;
  text-align: center;
}

.Icon {
  padding: .5em;
}

.Icon:hover {
  background-color: #404040;
  color: #E9ECEF;
  cursor: pointer;
}
