#app {
  height: 100%;
  display: flex;
}

nav {
  height: 100%;
}

#main {
  height: 100%;
  overflow-y: scroll;
  display: flex;
}

#form-wrapper, #preview {
  width: 50%;
}

#form-wrapper {
  margin: 1em;
}
