#app {
  height: 100%;
  display: flex;
}

nav {
  background-color: #1B1B1B;
  color: #CFD0D1;
  font-size: 1.5em;
  text-align: center;
  height: 100%;
}

#main {
  height: 100%;
  overflow-y: scroll;
  display: flex;
}

#form-wrapper, #preview {
  flex-grow: 1;
}

#form-wrapper {
  margin: 1em;
}
