#app {
  height: 100%;
  display: flex;
}

nav {
  background-color: #1B1B1B;
  color: #CFD0D1;
  font-size: 1.5em;
  text-align: center;
  height: 100%;
}

#app-root-main {
  max-height: 100%;
  width: 100%;
}
